:root {
    --background: #ffffff;
    --foreground: #171717;

    --section: #ee7f7f;

    --header-light: #f1f1f1;
    --body-light: #e9e9e9;
    --stroke-light: #d3d3d3;
    --background-button-light: #d3d3d3;

    --post-background: #f6f6f6;
    --post-title: #464646;
    --post-bottom-icons: #fff;
    --post-tag-color: #7979f4;

    font-size: 62.5%; /* 1rem = 10px */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--body-light);
}

/* body { */
/* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
